
{{#if currentContact}}
<div class='overlay'></div>
<div class="contact-open wsk-card wsk-shadow--z3">
  <div class="wsk-card--heading">
     <h2 class="wsk-card--heading-text">{{currentContact.name}}</h2>
  </div>
  <div class="wsk-card--caption">
    {{currentContact.email}}
  </div>
  {{#if currentContact.phone}}
  <div class="wsk-card--caption">
    {{currentContact.phone}}
  </div>
  {{/if}}
  {{#if currentContact.address}}
  <div class="wsk-card--lower">
    {{currentContact.address}}
  </div>
  {{/if}}
  <div class="wsk-card--bottom">
    <form class='contact-remove'
      method='post'
      data-api-method='delete'
      action='/contacts/remove'
      data-api-action='/api/contacts/{{currentContact._id}}'
      >
      <input type='hidden' name='_csrf' value='{{extra._csrf}}'>
      <input type='hidden' name='id' value='{{currentContact._id}}'>
      <button type='submit'>remove</button>
    </form>
    <a class='wsk-js-ripple-effect' href="/contacts/edit/{{currentContact._id}}" data-nav>Edit</a>
    <a href="/contacts" data-nav>Close</a>
  </div>
</div>
{{/if}}
