<form method='post' action='/contacts/bulkedit'  data-api-method='delete' data-api-action='/api/contacts/bulkedit' >
<div class='bulkedit-actions'>
<button type='submit' name='delete'>Delete</button>
</div>
<div class="wsk-column-layout">
{{#if search.active}}

{{#if search.results}}
  {{#each search.results}}
    <div class='wsk-column-layout__child contact' data-id='{{this._id}}'>
      <a class='' href='/contacts/{{this._id}}' data-nav>{{this.name}}</a>
    </div>
  {{/each}}
{{else}}
  <div class='wsk-column-layout__child'>No results</div>
{{/if}}

{{else}}

{{#if model}}
  {{#each model}}
    <div class='wsk-column-layout__child contact' data-id='{{this._id}}'>
      <input type='checkbox' class='bulkedit-select bulkedit-select-{{this._id}}' name='{{this._id}}'>
      {{#if this.avatar}}
        <img class='avatar' width="30" height="30" src='/avatar/{{this._id}}' data-id='{{this._id}}' alt=''>
      {{else}}
        <img class='avatar' width="30" height="30" src='/images/avatar.png' data-id='{{this._id}}' alt=''>
      {{/if}}
      <a class='' href='/contacts/{{this._id}}' data-nav>{{this.name}}</a>
    </div>
  {{/each}}
{{else}}
  <div class='wsk-column-layout__child'>No contacts</div>
{{/if}}

{{/if}}
</div>

</form>
