

{{#if editContact}}

<div class='overlay'></div>

<form class="contact-add wsk-card wsk-shadow--z3"
  method='post'
  data-api-method='{{#if editContact._id}}put{{else}}post{{/if}}'
  action='/contacts/{{#if editContact._id}}edit{{else}}add{{/if}}'
  data-api-action='/api/contacts{{#if editContact._id}}/{{editContact._id}}{{/if}}'
  >
  <input type="hidden" name="_csrf" value="{{extra._csrf}}">
  <input type="hidden" name="id" value="{{editContact._id}}">
  <div class="wsk-card--heading">
     <h2 class="wsk-card--heading-text">{{#if editContact._id}}Edit{{else}}New{{/if}} contact</h2>
  </div>
  <div class="wsk-card--lower">
    <div class="wsk-input">
      <input class="wsk-textfield wsk-js-textfield wsk-textfield--floating-label {{#if editContact.name}}is-dirty{{/if}}" type="text" name="name" value="{{editContact.name}}" />
      <label class="wsk-label" for="name">Name</label>
    </div>
    <div class="wsk-input">
      <input class="wsk-textfield wsk-js-textfield wsk-textfield--floating-label {{#if editContact.email}}is-dirty{{/if}}" type="email" name="email" value="{{editContact.email}}" />
      <label class="wsk-label" for="email">Email</label>
    </div>
    <div class="wsk-input">
      <input class="wsk-textfield wsk-js-textfield wsk-textfield--floating-label {{#if editContact.address}}is-dirty{{/if}}" type="text" name="address" value="{{editContact.address}}" />
      <label class="wsk-label" for="address">Address</label>
    </div>
  </div>
  <div class="wsk-card--bottom">
      <button type='submit'>{{#if editContact._id}}Save{{else}}Add{{/if}}</button>
      <a href="/contacts/{{#if editContact._id}}{{editContact._id}}{{/if}}" data-nav>Cancel</a>
  </div>
</form>

{{/if}}
